body{
	background-color: #f4ecbe;
}
#Track{
	display:none;
}
#frame {
	position:relative;
	height: 300px;
	width: 600px;
}
#button {
  position:absolute;
  background: #ebeef0;
  background-image: -webkit-linear-gradient(top, #ebeef0, #c5c7c9);
  background-image: -moz-linear-gradient(top, #ebeef0, #c5c7c9);
  background-image: -ms-linear-gradient(top, #ebeef0, #c5c7c9);
  background-image: -o-linear-gradient(top, #ebeef0, #c5c7c9);
  background-image: linear-gradient(to bottom, #ebeef0, #c5c7c9);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  color: #999799;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  text-align:center;
  line-height:50px;
  text-decoration: none;
  width:100px;
  height:50px;
  cursor:pointer;
}

#button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}